{% extends 'base.html' %}

{% block content %}
<div class="container">
    
    <div class="card-deck">
        <div class="card-block" style="margin: .5rem; margin-bottom: 1em; margin-top: 1em">
            <div class="CardMain card text-center" style="width: 18rem;padding-top: 1rem;">
                    <h4 class="CardMain">{{post[0]}} Supervisor</h4>
                    <h5 class="CardMain">From {{post[1]}} University</h5>
                <div class="card-footer" style="width: 18rem;">
                    <span class="badge badge-primary" >{{ post[8] }} MSc | {{ post[9] }} PHD</span>
                </div>
            </div>
        </div>

        <div class="card-block" style="margin: .5rem; margin-bottom: 1em; margin-top: 1em">
            <div class="CardMain card text-center" style="width: 18rem;padding-top: 1rem;">
                <h4 class="CardMain">{{post[2]}} sent emails</h4>
                <div class="card-footer" style="width: 18rem;">
                        <span class="badge badge-success" >{{ post[3] }} Good Answer</span>
                        <span class="badge badge-danger" >{{ post[4] }} Bad Answer</span>
                        <span class="badge badge-warning" >{{ post[2]-(post[3]+post[4]) }} Not Answered</span>
                </div>
            </div>
        </div>

        <div class="card-block" style="margin: .5rem; margin-bottom: 1em; margin-top: 1em">
            <div class="CardMain card text-center" style="width: 18rem;padding-top: 1rem;">
                <h4 class="CardMain">Interviews</h4>
                <div class="card-footer" style="width: 18rem;">
                    <span class="badge badge-success" >{{ post[7] }} Good Interview</span>
                    <span class="badge badge-danger" >{{ post[6] }} Bad Interview</span>
                    <span class="badge badge-warning" >{{ post[5] }} Scheduled Interview</span>
                </div>
            </div>
        </div>
    </div>
    
    
</div>
{% endblock %}
