{% extends 'base.html' %}

{% block content %}

 <title>Add Supervisor</title>
 <h1>Add New Supervisor</h1>
 <div class="container border rounded addpage">
 <form action="/insert_supervisor_to_db" method=post enctype=multipart/form-data>
    <div class="form-row uploadrows">
        <div class="form-group col-md-6">
            <label for="name">Name*</label>
            <input class="form-control" name="name"> 
        </div>

        <div class="form-group col-md-6">
            <label for="university">University*</label>
            <input class="form-control" name="university"> 
        </div>

        <div class="form-group col-md-6">
          <label for="email">Email*</label>
          <input class="form-control" name="email"> 
        </div>

        <div class="form-group col-md-6">
          <label for="country">Country*</label>
          <input class="form-control" name="country"> 
        </div>


        <div class="form-group col-md-6">
          <label for="webpage">Webpage</label>
          <input class="form-control" name="webpage"> 
        </div>


        <div class="form-group col-md-6">
          <label for="university_rank">University Rank</label>
          <input class="form-control" name="university_rank"> 
        </div>

        <div class="form-group col-md-3">
          <label for="position_type" >Position type </label>
          <select class="form-select" name="position_type" id="position_type" aria-label="Default select example">
              <option selected="MSc">MSc</option>
              <option  value="PHD">PHD</option>
              <option  value="Other">Other</option>
          </select>
        </div>

        <div class="form-group col-md-3">
          <label for="emailed" >Email: </label>
          <select class="form-select" name="emailed" id="emailed" aria-label="Default select example">
              <option selected="No">No</option>
              <option  value="Yes">Yes</option>
          </select>
        </div>


        <div class="form-group col-md-3">
          <label for="answer" >Answer: </label>
          <select class="form-select" name="answer" id="answer" aria-label="Default select example">
              <option selected="Not Yet">Not Yet</option>
              <option  value="Bad">Bad</option>
              <option  value="Good">Good</option>
          </select>
        </div>

        <div class="form-group col-md-3">
          <label for="interview" >Interview: </label>
          <select class="form-select" name="interview" id="interview" aria-label="Default select example">
              <option selected="Not Yet">Not Yet</option>
              <option value="Scheduled">Scheduled</option>
              <option  value="Bad">Bad</option>
              <option  value="Good">Good</option>
          </select>
        </div>
        
        <div class="form-group col-md-12">
          <label for="notes">Notes</label>
          <textarea class="form-control" id="notes" rows="3" name="notes"></textarea>
        </div>
    </div>    


  
</div>
<div class="input-group mb-3 row">

  <div class="col-md-4">
    <button class="btn btn-primary" type=submit Course> Insert supervisor</button>
  </div>

</div>
</div>




 </form>
</div>


 
 {% endblock %}