{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>{% block title %} Supervisors {% endblock %}</h1> 

    <form action="/supervisors_format" method=post enctype=multipart/form-data>
        <div class="row" style="padding-top: 2rem;text-align: center;">
            <div class="form-group col">
                <label for="emailed">Emailed:</label>
                <select class="form-select" name="emailed" id="emailed" aria-label="Default select example">
                    {% if filters[0]=="All" %}
                        <option selected="All">All</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    {% elif filters[0]=="Yes" %}
                        <option value="All">All</option>
                        <option selected="Yes">Yes</option>
                        <option value="No">No</option>
                    {% elif filters[0]=="No" %}
                        <option value="All">All</option>
                        <option value="Yes">Yes</option>
                        <option selected="No">No</option>
                    {% endif %}
                </select>
            </div>

            <div class="form-group col">
                <label for="answered">Answered</label>
                <select class="form-select" name="answered" id="answered" aria-label="Default select example">
                    {% if filters[1]=="All" %}
                        <option selected="All">All</option>
                        <option value="Not Yet">Not Yet</option>
                        <option value="Good">Good</option>
                        <option value="Bad">Bad</option>
                    {% elif filters[1]=="Not Yet"  %}
                        <option value="All">All</option>
                        <option selected="Not Yet">Not Yet</option>
                        <option value="Good">Good</option>
                        <option value="Bad">Bad</option>
                    {% elif filters[1]=="Good"  %}
                        <option value="All">All</option>
                        <option value="Not Yet">Not Yet</option>
                        <option selected="Good">Good</option>
                        <option value="Bad">Bad</option>
                    {% elif filters[1]=="Bad"  %}
                        <option value="All">Good</option>
                        <option value="Not Yet">Not Yet</option>
                        <option value="Good">Good</option>
                        <option selected="Bad">Bad</option>
                    {% endif %}
                </select>
            </div>

            <div class="form-group col">
                <label for="interview">Interview</label>
                <select class="form-select" name="interview" id="interview" aria-label="Default select example">
                    {% if filters[2]=="All" %}
                        <option selected="All">All</option>
                        <option value="Not Yet">Not Yet</option>
                        <option value="Scheduled">Scheduled</option>
                        <option value="Good">Good</option>
                        <option value="Bad">Bad</option>
                    {% elif filters[2]=="Not Yet"  %}
                        <option value="All">All</option>
                        <option selected="Not Yet">Not Yet</option>
                        <option value="Scheduled">Scheduled</option>
                        <option value="Good">Good</option>
                        <option value="Bad">Bad</option>
                    {% elif filters[2]=="Scheduled"  %}
                        <option value="All">All</option>
                        <option value="Not Yet">Not Yet</option>
                        <option selected="Scheduled">Scheduled</option>
                        <option value="Good">Good</option>
                        <option value="Bad">Bad</option>
                    {% elif filters[2]=="Good"  %}
                        <option value="All">All</option>
                        <option value="Not Yet">Not Yet</option>
                        <option value="Scheduled">Scheduled</option>
                        <option selected="Good">Good</option>
                        <option value="Bad">Bad</option>
                    {% elif filters[2]=="Bad"  %}
                        <option value="All">All</option>
                        <option value="Not Yet">Not Yet</option>
                        <option value="Scheduled">Scheduled</option>
                        <option value="Good">Good</option>
                        <option selected="Bad">Bad</option>
                    {% endif %}
                </select>
            </div>

            <div class="form-group col">
                <label for="position_type">Position Type</label>
                <select class="form-select" name="position_type" id="position_type" aria-label="Default select example">
                    {% if filters[3]=="All" %}
                        <option selected="All">All</option>
                        <option value="MSc">MSc</option>
                        <option value="PHD">PHD</option>
                    {% elif filters[3]=="MSc" %}
                        <option value="All">All</option>
                        <option selected="MSc">MSc</option>
                        <option value="PHD">PHD</option>
                    {% elif filters[3]=="PHD" %}
                        <option value="All">All</option>
                        <option value="MSc">MSc</option>
                        <option selected="PHD">PHD</option>
                    {% endif %}
                </select>
            </div>

            <div class="form-group col">
                <button class="btn btn-primary" type=submit Course> Filter</button>
            </div>
        </div>


            
    </form>

    <div class="card-deck">
    
    {% for post in posts %}

        <div class="card-block" style="margin: .5rem; margin-bottom: 1em; margin-top: 1em">
            <div class="CardMain card text-center" style="width: 18rem;">
                <a href="{{ url_for('supervisor', id=post[11]) }}">
                    <h4 class="CardMain">{{post[0]}}</h4>
                </a>
                    <h5 class="CardMain">{{ post[1] }} - {{ post[3] }}</h5>
                    <h6 class="CardMain">{{ post[2] }}</h6>
            <div class="card-footer" style="width: 18rem;">
                {% if post[4]=="No" %}
                    <span class="badge badge-danger" >emailed: {{ post[4] }}</span>
                {% else %}
                    <span class="badge badge-success" >emailed: {{ post[4] }}</span>
                {% endif %}

                {% if post[5]=="Not Yet" %}
                    <span class="badge badge-secondary" >answered: {{ post[5] }}</span>
                {% elif post[5]=="Bad"  %}
                    <span class="badge badge-danger" >answered: {{ post[5] }}</span>
                {% elif post[5]=="Good"  %}
                    <span class="badge badge-success" >answered: {{ post[5] }}</span>
                {% endif %}

                {% if post[6]=="Not Yet" %}
                    <span class="badge badge-secondary" >interview: {{ post[6] }}</span>
                {% elif post[6]=="Scheduled"  %}
                    <span class="badge badge-info" >interview: {{ post[6] }}</span>
                {% elif post[6]=="Bad"  %}
                    <span class="badge badge-danger" >interview: {{ post[6] }}</span>
                {% elif post[6]=="Good"  %}
                    <span class="badge badge-success" >interview: {{ post[6] }}</span>
                {% endif %}
                <span class="badge badge-dark">Type: {{ post[7] }}</span>
                </div>
            </div>
        </div>
        
        
    {% endfor %}
</div>
    </div>
</div>
{% endblock %}
