h1 {
    color: black;
    text-align: center;
    padding: 2rem;
}

div.CardMain {
    
    box-shadow: 0px 0px 3px 0px rgb(0, 0, 0, 0.2);
    transition: 0.3s;

}

div.CardMain:hover {

    box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.2);

}

h4.CardMain {
    color: black;
    transition: 0.3s;
}

h4.CardMain:hover ,a:hover {

    color: #007bff;
    text-decoration: none!important;

}

p.postpage{
    margin-top: 2rem;
    margin-bottom: 2re;
}
span.postpage {
    font-weight: bold;
}

h2.postpage{
    margin-top: 2rem;
    margin-bottom: 2re;
}


div.PanelLogin{
    padding: 2rem;
    
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 3px 0px rgb(0, 0, 0, 0.2);
    transition: 0.3s;
    
}

div.uploadrows{
    margin:1rem;
}

div.PanelLoginrows{
    margin:1rem;
}

div.addpage{
    padding: 2rem;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 3px 0px rgb(0, 0, 0, 0.2);
    transition: 0.3s;
    
}

div.addpage:hover{

    padding: 2rem;
    box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.2);
    
}



div.SearchBarBody{
    margin-bottom: 5rem;
}

div.SearchBarMain{
    width : 100%;
    border: 0px solid rgba(0,0,0,.15)!important;
}

div.SearchBarMainBox{
    width : 100%;
    border: 0px solid rgba(0,0,0,.15)!important;
    padding: .0rem 0!important;
    transition: 0.3s;
}

div.SearchBarMainBox:focus{
    box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.3);
}

input.SearchBarBox{
    width: 100%!important;
    border: 1px solid rgba(0,0,0,.35)!important;
    border-radius: .25rem 0.25rem 0 0!important;
    background-color: rgb(235, 235, 235);
    transition: 0.3s;
}

input.SearchBarBox:focus{
    outline: none;
}

input.SearchBarBox:focus .div.SearchBarBox{
    display: none!important;
}




div.SearchBarBox{
    width : 100%!important;
    display: block;
    background-color: rgb(235, 235, 235);
    /* border: 1px solid rgba(0,0,0,.35)!important;
    border-radius: .25rem!important; */
}

a.search {
    color: #505050;
}


div.PanelLogin{

    max-width: 100%!important;
}



#hidden_email_date_div {
    display: none;
}




/*======Responsive CSS=======*/
@media (max-width: 767px){
.comments .commenter-name {
    font-size: 13px;
    top: -5px;
}
.comments .commenter-pic {
    width: 40px;
    height: 40px;
}
.comments .commenter-name a{
  display: block;
}
.comments .commenter-name .comment-time{
  display: block;
  margin-left: 0px;
}
}
